<!doctype html>
<html lang="en">
   <head>
      <title>RistoApp</title>
      <meta charset="utf-8">
      <meta name="format-detection" content="telephone=no" />
      <meta http-equiv="cache-control" content="max-age=0" />
      <meta http-equiv="cache-control" content="no-cache" />
      <meta http-equiv="expires" content="0" />
      <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
      <meta http-equiv="pragma" content="no-cache" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <script src="node_modules/angular/angular.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
       <script src="node_modules/angular-cookies/angular-cookies.js"></script>
      <script src="js/controllers/pageController.js"></script>
       <script src="js/controllers/headerController.js"></script>
       <script src="js/services/ajaxService.js"></script>
      <link href="lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
      <link href="lib/css/project.css" rel="stylesheet">
      <link href="lib/css/registerForm.css" rel="stylesheet">
     <link href="lib/css/sideMenu.css" rel="stylesheet">

       <style>
           #navLeft{
               float: left;
               max-width: 160px;
               margin: 0;
               padding: 1em;
           }

           #mainPage{
               margin-left: 300px;
               border-left: 1px solid gray;
               padding: 50px;
           }

       </style>
   </head>


   <body ng-app="ristoApp">


   <header ng-controller="headerController">
         <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class="navbar-brand" href="#">RistoApp</a>
               </div>
               <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Page 1</a></li>
                  <li><a href="#">Page 2</a></li>
                  <li><a href="#">Page 3</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a ng-click="registerClick()" href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a ng-click="loginClick()" href=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
               </ul>
               <form class="navbar-form navbar-right">
                  <div class="input-group">
                     <input type="text" class="form-control search-input" placeholder="Search">
                     <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                        </button>
                     </div>
                  </div>
               </form>
            </div>
            <div ng-hide="loghide" ng-click="checkBounds()" id="myDropdown" class="dropdown-content-login">
               <div class="wrapper">
                  <form action="" method="post" name="Login_Form" class="form-signin-login">
                     <h3 class="form-signin-heading-login">Welcome Back!</h3>
                     <hr class="colorgraph">
                     <br>
                     <input type="text" class="form-control form-control-login" name="Username" placeholder="Username" required="" autofocus="" />
                     <input type="password" class="form-control form-control-login" name="Password" placeholder="Password" required=""/>     		  
                     <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
                  </form>
               </div>
            </div>
            <div ng-hide="reghide" class="dropdown-content-register">
               <div class="main-login main-center">
                  <h3>Registration form</h3>
                  <form class="" method="post" action="#">
                     <div class="form-group">
                        <div class="cols-sm-10">
                           <div class="input-group">
                               <select id="typeChoicer">
                                   <option value="user">user</option>
                                   <option value="admin">admin</option>
                               </select>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="cols-sm-10">
                           <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                              <input ng-model="name" type="text" class="form-control form-control-register" name="name" id="name"  placeholder="Your name"/>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="cols-sm-10">
                           <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                              <input ng-model="email" type="text" class="form-control form-control-register" name="email" id="email"  placeholder="Your mail"/>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="cols-sm-10">
                           <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                              <input ng-model="username" type="text" class="form-control form-control-register" name="username" id="username"  placeholder="Username"/>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="cols-sm-10">
                           <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                              <input ng-model="password" type="password" class="form-control form-control-register" name="password" id="password"  placeholder="Password"/>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="cols-sm-10">
                           <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                              <input type="password" class="form-control form-control-register" name="confirm" id="confirm"  placeholder="Confirm your password"/>
                           </div>
                        </div>
                     </div>
                     <div class="form-group ">
                        <a ng-click="registerButton()" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Sign Up</a>
                     </div>
                  </form>
               </div>
            </div>
         </nav>
      </header>

    <div id="navLeft">
      <div class="nav-side-menu">
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#monday">Research Menu</a></li>
                <li><a href="#table">Composite Category</a></li>
            </ul>
        </div>
      </div>
    </div>
      <div id="mainPage">
        <div ng-view></div>
      </div>

   </body>