<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categoria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>



    <!--<script src="app.js"></script> -->
   <!-- <script>
        var app = angular.module("myApp",[]);

        app.service("myAjax", function($q,$http) {

            var ajax = function(method,url,data) {

                var deferred = $q.defer();
                var request = {
                    method: method,
                    url: url,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                };
                if (method === 'GET') {
                    request.params = data;
                } else {
                    request.data = data;
                }
                $http(request).then(function(response){
                    deferred.resolve(response.data);
                },function(response, status){
                    deferred.reject({data: response, status: status});
                });
                return deferred.promise;
            };

            this.get = function(params) {
                return ajax("GET", "dishes", params);
            };

            this.post = function(data) {
                return ajax("POST", "/someUrl", data);
            };

        });


        app.controller("myCtrl",function($scope, myAjax) {

            var init = function () {
                $scope.records = [];
                $scope.selected = [];
                $scope.names = [];
                var param = null;
                myAjax.get(param).then(function (data) {
                    $scope.records = data;
                    for(i = 1; i <= $scope.records.length; i++){
                        $scope.names.push($scope.records[i].nome) ;
                    }
                    $scope.names.sort();
                }, function (err) {
                    console.log("Err: " + err);
                });
            };

            init();

            $scope.updateSelected = function (idPietanza) {
                var checkBox = document.getElementById(idPietanza);
                var name = idPietanza;
                if (checkBox.checked) {
                    $scope.selected.push(name);
                    $scope.selected.sort();
                } else {
                    $scope.selected.splice($scope.selected.indexOf(name), 1);
                    $scope.selected.sort();
                }
            };
        });
    </script> -->

    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope) {
            $scope.records = [
                "Bruschetta al pomodoro",
                "Moscardini fritti",
                "Risotto alla pescatora",
                "Spagetti alle vongole", "Spaghetti allo scoglio",
                "Frittura di paranza"
            ];
            $scope.selected = [];
            $scope.records.sort();
            $scope.updateSelected = function(idPietanza){
                var checkBox = document.getElementById(idPietanza);
                var name = idPietanza;
                if(checkBox.checked) {
                    $scope.selected.push(name);
                    $scope.selected.sort();
                }else{
                    $scope.selected.splice($scope.selected.indexOf(name),1);
                }
            }
        });
    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<form class="form-horizontal" name="myForm">
    <div class="form-group">
        <!-- <label class="col-md-2 control-label" style="margin-left: 20px">Nome Categoria</label>
        <div class="col-md-9">
            <input class="form-control" id="focusedInput" type="text" placeholder="Inserire nome categoria">
        </div>
        <div class="col-md-1"></div> -->
        <div class="container">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">Categoria</span>
                        <input id="msg" type="text" class="form-control" name="msg" placeholder="Inserire nome categoria">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!--<div class="panel-group"> -->
                <div class="panel panel-default">
                    <div class="panel-heading"><p><b>Seleziona pietanza</b></p></div>
                    <div class="panel-body" style="overflow-y: auto; height: 420px">
                        <table class="table table-striped">
                            <tbody>
                            <tr ng-repeat="pietanza in records">
                                <td><p style="font-style: italic">{{pietanza}}</p></td>
                                <td><div class="checkbox">
                                    <label><input type="checkbox" ng-click="updateSelected(pietanza)" id="{{pietanza}}"></label>
                                </div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><p><b>Pietanze selezionate</b></p></div>
                    <div class="panel-body" class="row" style="overflow-y: auto; height: 350px">
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="selezionata in selected">
                                    <td><p style="font-style: italic">{{selezionata}}</p></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
            <div class="row" style="padding-top: 15px">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success">Salva</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger">Annulla</button>
                </div>
            </div>
        </div>
    </div>
</div>
  <!--  </div>
</div> -->

<!--<div class="container" style="padding-top: 20px">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-success">Salva</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-danger">Annulla</button>
        </div>
    </div>
</div> -->
</body>
</html>