<div class="container-fluid">
    <div class="row content" ng-app="ajaxApp" ng-controller="ajaxController">
        <div class="col-sm-3 sidenav">
            <br>
            <h4>Research by filter</h4>
            <br><br>
            <div class="form-group">
                <label for="usr1">Name recipe:</label>
                <input type="text" ng-model="namerecipe" class="form-control" id="usr1">
            </div>
            <div class="form-group">
                <label for="usr2">Category:</label>
                <input type="text" ng-model="category" class="form-control" id="usr2">
            </div>
            <div class="form-group">
                <label for="usr3">Tag:</label>
                <input type="text" ng-model="tag" class="form-control" id="usr3">
            </div>
        </div>

        <div class="col-sm-9">
            <div ng-controller="repeatController">
                <h4><small>RECIPIES</small></h4>
                <hr>
                There are {{records.length}} recipies :
                <input type="search" ng-model="q"
                       placeholder="filter records..."
                       aria-label="filter recipe"
                       class="form-control"/>
                <br><br>
                <div style="overflow:scroll; height:400px;">
                    <table class="table table-hover">
                        <tr>
                            <th>Add</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Chef</th>
                        </tr>
                        <tr ng-repeat="record in records | orderBy : 'Category' | filter:q as results">
                            <td><button ng-click="Myclick(record)">Add</button></td>
                            <td>{{ record.Name }}</td>
                            <td>{{ record.Category }}</td>
                            <td>{{ record.Chef }}</td>
                        </tr>
                    </table>
                </div>


                <br><br><br>
                <h4><small>MY RECIPIES</small></h4>
                <hr>
                <div style="overflow:scroll; height:400px;">
                    <table class="table table-hover" id="choosenTable">
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Chef</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




