<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading"><b>Aggiungi un nuovo dipendente</b></div>
        <div class="panel-body">
            <div class="form-group">
                <label for="addNome">Nome:</label>
                <input class="form-control" type="text" id="addNome" placeholder="Inserisci nome del nuovo dipendente" ng-model="nomeDipendente">
            </div>
            <div class="form-group">
                <label for="addCognome">Cognome:</label>
                <input class="form-control" type="text" id="addCognome" placeholder="Inserisci cognome del nuovo dipendente" ng-model="cognomeDipendente">
            </div>
            <div class="form-group">
                <label for="addRuolo">Ruolo:</label>
                <input class="form-control" type="text" id="addRuolo" placeholder="Inserisci ruolo del nuovo dipendente" ng-model="ruoloDipendente">
            </div>
            <div class="form-group">
                <button type="button" class="btn" ng-click="saveDipendente()">Aggiungi dipendente</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><p><b>Gestisci dipendenti esistenti</b></p></div>
        <div class="panel-body" style="overflow-y: auto">
            <table class="table table-striped">
                <div class="container-fluid" style="padding-bottom: 10px">
                    <input id="filterTag" type="text" class="form-control" ng-model ="filterTag" placeholder="Filtra per nome">
                </div>
                <tbody>
                <tr ng-repeat="dipendente in dipendenti">
                    <td class="col-sm-3"><p style="font-style: italic">{{dipendente.cognome}} - {{dipendente.ruolo}} </p></td>
                    <td class="col-sm-1">
                        <button type="button" class="btn" ng-click="deleteDipendente(dipendente.cognome)">Elimina</button>
                    </td>
                    <td class="col-sm-8">
                        <div class="form-group">
                            <label class="col-sm-2" for="ruolo.{{dipendente.cognome}}">Modifica Ruolo:</label>
                            <input class="col-sm-7" type="text" id="ruolo.{{dipendente.cognome}}" placeholder="Modifica il ruolo">
                            <button type="button" class="col-sm-2 btn" ng-click="modificaDipendente(dipendente)">Modifica</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>