<div>

    <form class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                        <label for="tavolo">Inserire numero tavolo:</label>
                        <input type="text" class="form-control" id="tavolo" ng-model="numeroTavolo"><br>
                        <button type="button" class="btn btn-default" ng-click="confermaTavolo()">Verifica</button>
                </div>
                <div class="col-md-6">
                    <div class="well well-lg"><b>TAVOLO: {{numeroTavolo}}</b></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding: 10px">
                    <label for="ricercaNome">Ricerca:</label>
                    <input type="text" class="form-control" id="RicercaNome" ng-model="ricercaNome">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><p><b>Seleziona pietanze</b></p></div>
                        <div class="panel-body" style="overflow-y: auto; height: 420px">
                            <table class="table table-striped">
                                <tbody>
                                <tr ng-repeat="prodotto in menuAttuale">
                                    <td ng-show="(prodotto.pietanza).indexOf(ricercaNome)!=-1">
                                        <div class="menu-item-name">
                                            <b>{{prodotto.pietanza}}</b>
                                        </div>
                                        <div>
                                            <span class="menu-item-description">
                                                {{prodotto.descrizione}}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="menu-item-description">
                                                $ {{prodotto.prezzo}}
                                            </span>
                                        </div>
                                    </td>
                                    <td ng-show="(prodotto.pietanza).indexOf(ricercaNome)!=-1">
                                        <div class="checkbox menu-item-price">
                                            <label><input type="checkbox" ng-click="updateSelectedProd(prodotto.pietanza, prodotto.prezzo)" id="check.{{prodotto.pietanza}}"></label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><p><b>Pietanze selezionate</b></p></div>
                        <div class="panel-body" class="row" style="overflow-y: auto; height: 350px">
                            <table class="table table-striped">
                                <tbody>
                                <tr ng-repeat="prod in selectedProd">
                                    <td class="col-sm-9"><p style="font-style: italic">{{prod.pietanza}}</p></td>
                                    <td class="col-sm-3"><input required type="number" class="form-control" id="qnt.{{prodotto.pietanza}}" step="1" ng-model="prod.quantita"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" ng-click="publish()">Invia</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-danger">Annulla</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>