<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
</head>

<body>

<div class="container-fluid">
    <div class="row content" ng-controller="RicercaMenuController">

        <div class="col-sm-4">


            <div class="panel panel-default">
                <div class="panel-heading">Ricerca Menu</div>
                <div class="panel-body">

                    <div class="form-group">
                        <input type="text" class="form-control" id="nome" ng-model="search.nome" placeholder="Ricerca per Nome" required>
                    </div>
                    <button type="submit" ng-click="ricercaNome()" class="btn btn-primary">Cerca</button>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">Ricerca Menu</div>
                <div class="panel-body">

                    <div class="form-group">
                        <input type="text" class="form-control" id="ingrediente" ng-model="search.ingrediente" placeholder="Ricerca per Ingrediente" required>
                    </div>
                    <button type="submit" ng-click="ricercaIngrediente()" class="btn btn-primary">Cerca</button>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">Ricerca Menu</div>
                <div class="panel-body">

                    <div class="form-group">
                        <input type="text" class="form-control" id="etichetta" ng-model="search.etichetta" placeholder="Ricerca per Etichetta" required>
                    </div>
                    <button type="submit" ng-click="ricercaEtichetta()" class="btn btn-primary">Cerca</button>
                </div>
            </div>


            <button type="submit" ng-click="findAll()" class="btn btn-primary">Cerca tutti</button>
            <button type="submit" ng-click="findMenuAttivo()" class="btn btn-primary">Menu Attivo</button>

        </div>

        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">Elenco dei Menù</div>
                <div class="panel-body">
                    <div ng-show="showList">
                        <div class="row">
                            <br>
                            <div class="col-md-8 col-md-offset-2">

                                <div class="card" style="width: 35rem;" ng-repeat="menu in listaMenu">
                                    <img class="card-img-top" ng-src="{{menu.immagine}}" style="height: 200px; width: 100%; display: block;">
                                    <div class="card-block">
                                        <h4 class="card-title" ng-show="!menu.isActive">{{menu.nome}}</h4>
                                        <h4 class="card-title" style="color: #47a447" ng-show="menu.isActive">{{menu.nome}}</h4>
                                        <p class="card-text">
                                            {{menu.descrizione}}
                                            <br>
                                            {{menu.data}}
                                        </p>
                                        <button type="submit" class="btn btn-primary" ng-click="pickMenu(menu.nome)">Visualizza</button>
                                        <button type="submit" class="btn" ng-click="modificaMenu(menu.nome)">Modifica</button>
                                        <button type="submit" class="btn btn-danger" ng-click="deleteMenu(menu.nome)">Elimina</button>
                                        <button type="submit" class="btn btn-success" ng-click="attivaMenu(menu.nome)">Rendi Attivo</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>

