<style>
    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<div>
    <form class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><p><b>Pietanze da cucinare</b></p></div>
                        <div class="panel-body" class="row" style="overflow-y: auto; height: 700px">
                            <table class="table table-striped" id="tabellaCuoco">
                                <tbody ng-repeat="prodotti in selectedProdForChef">
                                <tr>
                                    <td colspan="2">ORDINAZIONE PER TAVOLO: {{prodotti.tavolo}}</td>
                                </tr>
                                <tr ng-repeat="prod in prodotti.comandaItems" >
                                    <td class="col-sm-9"><p style="font-style: italic" id="pietanza.{{prod.pietanza}}" >{{prod.pietanza}} x {{prod.quantita}}</p></td>
                                    <td><input type="checkbox" name="box" id="checkbox.{{prod.pietanza}}"></td>
                                </tr>
                                <tr><td colspan="2"><button type="button" class="btn btn-success" ng-click="fatto($index)" id="{{prodotti.tavolo}}">Fatto</button></td></tr>
                                <tr bgcolor="#006400"><th colspan="2">   </th></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>