    <!--<script src="app.js"></script>
    <script>
         var app = angular.module("myApp",[]);

         app.service("myAjaxpietanzetion($q,$http) {

             var ajax = function(mepietanzel,data) {

                 var deferred = $q.defer();
          pietanzevar request = {
                     method: method,
                     url: url,
                     headers: {
                         'Content-Type': 'application/json'
                     }
                 };
                 if (method === 'GET') {
                     request.params = data;
                 } else {
                     request.data = data;
                 }
                 $http(request).then(function(response){
                     deferred.resolve(response.data);
                 },function(response, status){
                     deferred.reject({data: response, status: status});
                 });
                 return deferred.promise;
             };

             this.get = function(params) {
                 return ajax("GET", "dishes", params);
             };

             this.post = function(data) {
                 return ajax("POST", "/someUrl", data);
             };

         });


         app.controller("myCtrl"pietanzeon($scope, myAjax) {

             var init = function () {
                 $scope.records = [];
                 $scope.selected = [];
                 $scope.names = [];
                 var param = null;
                 myAjax.get(param).then(function (data) {
                     $scope.records = data;
                     for(i = 1; i <= $scope.records.length; i++){
                         $scope.names.push($scope.records[i].nome) ;
                     }
                     $scope.names.sort();
                 }, function (err) {
                     console.log("Err: " + err);
                 });
             };

             init();

             $scope.updateSelected = function (idPietanza) {
                 var checkBox = document.getElementById(idPietanza);
                 var name = idPietanza;
                 if (checkBox.checked) {
                     $scope.selected.push(name);
                     $scope.selected.sort();
                 } else {
                     $scope.selected.splice($scope.selected.indexOf(name), 1);
                     $scope.selected.sort();
                 }
             };
         });
     </script> -->

<div ng-controller="creaCategoriaController">
    <form class="form-horizontal" name="myForm">
        <div class="form-group">

            <div class="container">
                <div class="row" style="margin-bottom: 10px">
                    <div class="container-fluid">
                        <p><div class="input-group">
                            <span class="input-group-addon">Categoria</span>
                            <select class="btn btn-default dropdown-toggle" ng-model="nomeCategoria">
                                <option disabled selected value> -- seleziona nome categoria -- </option>
                                <option ng-repeat="cat in categorie">{{cat}}</option>
                            </select>
                        </div></p>
                        <p><div class="input-group">
                            <span class="input-group-addon">Selezione filtro</span>
                            <select class="btn btn-default dropdown-toggle" ng-model="filtro" ng-click="updateVisibleElements()">
                                <option disabled selected value> -- seleziona un Tag -- </option>
                                <option value="all">Mostra tutti</option>
                                <option ng-repeat="tag in tags">{{tag}}</option>
                            </select>
                        </div></p>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><p><b>Seleziona pietanza</b></p></div>
                    <div class="panel-body" style="overflow-y: auto; height: 420px">
                        <table class="table table-striped">
                            <tbody>
                            <tr ng-repeat="pietanza in pietanzeFiltrate">
                                <td><p style="font-style: italic">{{pietanza.Name}}</p></td>
                                <td><div class="checkbox">
                                    <label><input type="checkbox" ng-click="updateSelected(pietanza.Name)" id="{{pietanza.Name}}"></label>
                                </div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><p><b>Pietanze selezionate</b></p></div>
                    <div class="panel-body" class="row" style="overflow-y: auto; height: 350px">
                        <table class="table table-striped">
                            <tbody>
                            <tr ng-repeat="selezionata in selected">
                                <td><p style="font-style: italic">{{selezionata}}</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success" ng-click="addToMenu()">Aggiungi</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger">Annulla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
