<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><b>Ordina al magazzino centrale</b>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><p><b>Seleziona prodotti da ordinare</b></p></div>
                        <div class="panel-body" style="overflow-y: auto; height: 600px">
                            <table class="table table-striped">
                                <tbody>
                                <tr ng-repeat="prodotto in prodotti | orderBy: 'nome'">
                                    <td>
                                        <div class="menu-item-name">
                                            <b>{{prodotto.nome}}</b>
                                        </div>
                                        <div>
                                            <span class="menu-item-description">
                                                {{prodotto.descrizione}}
                                            </span>
                                        </div>
                                    </td>
                                    <td><div class="checkbox">
                                        <label><input type="checkbox" ng-click="updateSelectedProd(prodotto.nome, prodotto.id)" id="check.{{prodotto.nome}}"></label>
                                    </div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><p><b>Prodotti selezionati</b></p></div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr ng-repeat="prod in selectedProd | orderBy: 'nome'">
                                    <td class="col-sm-9"><p style="font-style: italic">{{prod.nomeProdotto}}</p></td>
                                    <td class="col-sm-3"><input name="quantita" required="" type="number" min="1" class="form-control" step="1" ng-model="prod.quantita"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" ng-click="sendOrder()">Spedisci</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-danger" onclick="location.href = '#';">Annulla</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>